<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="styles.css">
   <style>
      div {
      border: 5px solid RosyBrown;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: Thistle;
      }
   </style>
</head>
<body>
  </body>
</html>
