body {
   font-family: "Times New Roman", Times, serif;
   background: #BC8F8F;
   margin: 0;
   padding: 40px;
}
h1 {
   text-align: center;
   color: #FFFACD;
}
form {
   background: #FFE4E1;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   margin-bottom: 20px;
}
label {
   display: block;
   margin-top: 15px;
   font-weight: bold;
   color: #BC8F8F;
}
input {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}
button {
   margin-top: 15px;
   padding: 10px 15px;
   background: #FFE4E1;
   color: Sienna;
   border: none;
   border-radius: 4px;
   cursor: pointer;
    }
button:hover {
      background: #FFB6C1;
}
